@media screen and (max-width: 768px) {
    
    .name-pic {
        width: 70%;

        img {
            width: 90%;
        }
    }
    
    .estudios {
        width: 90%;
    }
}

@media screen and (min-width: 991px) {
    .name-pic {
        width: 50%;

        img {
            width: 50%;
        }
    }
}
@media screen and (max-width: 480px) {
    .name-pic {
        width: 90%;
        

        img {
            width: 50%;
        }
    }
    .extra {
        width: 90%;
    }
}