@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$fuentePrincipal: 'Press Start 2P', cursive;
$violeta: #c111fb;
$estudiando: blue;
$aestudiar: red;
$conocimientos: green;